#table1 {
  border-collapse: separate;
  color: blue;
   float: right;
   width:150px;
   font-weight:bold;
  background-color: #b3c7e6; 
  list-style-type: none;
  margin: 4px;
  text-align: center;
  }
  #table1 th{
    color: blue;
   text-align: center;
  display: block;
  font-size: 20px;
  padding: 20px;
   border-collapse: separate #ffffff;
   block-size: 29px;
  }